<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="Browser" value="Chrome"></parameter>
  <parameter name="Name" value="Paresh"></parameter>
  <parameter name="Trying" value="Login test"></parameter>
    <classes>
      <class name="com.Regression.TestRunWithTestNGLogin2"/>
      <class name="com.Regression.TestRunWithTestNGPayment2"/>
      <class name="com.Regression.TestRunWithTestNGProduct2"/> 
       <class name="com.Smoke.TestRunWithTestNGFunctionalTest2"/>     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
